<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tr.xip.wanikani">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="tr.xip.wanikani.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Browser"
            android:parentActivityName="tr.xip.wanikani.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tr.xip.wanikani.MainActivity" />
        </activity>
        <activity
            android:name=".ItemDetailsActivity"
            android:theme="@style/AppTheme_NoActionBar"
            android:parentActivityName="tr.xip.wanikani.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tr.xip.wanikani.MainActivity" />
        </activity>
        <activity
            android:name=".RecentUnlocksActivity"
            android:label="@string/card_title_recent_unlocks"
            android:parentActivityName="tr.xip.wanikani.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tr.xip.wanikani.MainActivity" />
        </activity>
        <activity
            android:name=".FirstTimeActivity"
            android:icon="@drawable/ic_wanikani_stamp" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName="tr.xip.wanikani.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tr.xip.wanikani.MainActivity" />
        </activity>
        <activity
            android:name=".WebReviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:parentActivityName="tr.xip.wanikani.MainActivity"
            android:process=":webview"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tr.xip.wanikani.MainActivity" />
        </activity>
        <activity
            android:name=".SWWebReviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:parentActivityName="tr.xip.wanikani.MainActivity"
            android:process=":swwebview"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tr.xip.wanikani.MainActivity" />
        </activity>

        <activity
            android:name=".ProgressDetailsActivity"
            android:label="@string/card_title_progress"
            android:theme="@style/AppTheme_NoActionBar"
            android:parentActivityName="tr.xip.wanikani.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tr.xip.wanikani.MainActivity" />
        </activity>

        <activity
            android:name=".CriticalItemsActivity"
            android:label="@string/card_title_progress"
            android:parentActivityName="tr.xip.wanikani.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tr.xip.wanikani.MainActivity" />
        </activity>
    </application>

</manifest>
