<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tr.xip.wanikani">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:imeOptions="flagNoExtractUi"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_school_white_24dp" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/apptheme_main" />

        <activity
            android:name=".app.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_NavigationDrawerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.activity.Browser"
            android:parentActivityName=".app.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activity.MainActivity" />
        </activity>

        <activity
            android:name=".app.activity.ItemDetailsActivity"
            android:parentActivityName=".app.activity.MainActivity"
            android:theme="@style/AppTheme_NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activity.MainActivity" />
        </activity>

        <activity
            android:name=".app.activity.RecentUnlocksActivity"
            android:label="@string/card_title_recent_unlocks"
            android:parentActivityName=".app.activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activity.MainActivity" />
        </activity>

        <activity
            android:name=".app.activity.FirstTimeActivity"
            android:icon="@drawable/ic_wanikani_stamp" />

        <activity
            android:name=".preference.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".app.activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activity.MainActivity" />
        </activity>

        <activity
            android:name=".app.activity.WebReviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:parentActivityName=".app.activity.MainActivity"
            android:process=":webview"
            android:theme="@style/AppTheme_NoActionBar"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activity.MainActivity" />
        </activity>

        <activity
            android:name=".app.activity.SWWebReviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:parentActivityName=".app.activity.MainActivity"
            android:process=":swwebview"
            android:theme="@style/AppTheme_NoActionBar"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activity.MainActivity" />
        </activity>

        <activity
            android:name=".app.activity.ProgressDetailsActivity"
            android:label="@string/card_title_progress"
            android:parentActivityName=".app.activity.MainActivity"
            android:theme="@style/AppTheme_NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activity.MainActivity" />
        </activity>

        <activity
            android:name=".app.activity.CriticalItemsActivity"
            android:label="@string/card_title_progress"
            android:parentActivityName=".app.activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activity.MainActivity" />
        </activity>

        <activity
            android:name=".app.activity.NotificationDetailsActivity"
            android:label="@string/card_title_notifications"
            android:parentActivityName=".app.activity.MainActivity"
            tools:ignore="UnusedAttribute">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activity.MainActivity" />
        </activity>

        <activity
            android:name=".app.activity.DonationsActivity"
            android:label="@string/title_donations" />

        <receiver android:name=".content.notification.NotificationPublisher" />

        <receiver android:name=".content.notification.NotificationReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>
