<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tr.xip.wanikani">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".app.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_NavigationDrawerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.activity.Browser"
            android:parentActivityName=".app.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activity.MainActivity" />
        </activity>

        <activity
            android:name=".app.activity.ItemDetailsActivity"
            android:parentActivityName=".app.activity.MainActivity"
            android:theme="@style/AppTheme_NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activity.MainActivity" />
        </activity>

        <activity
            android:name=".app.activity.RecentUnlocksActivity"
            android:label="@string/card_title_recent_unlocks"
            android:parentActivityName=".app.activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activity.MainActivity" />
        </activity>

        <activity
            android:name=".app.activity.FirstTimeActivity"
            android:icon="@drawable/ic_wanikani_stamp" />

        <activity
            android:name=".preference.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".app.activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activity.MainActivity" />
        </activity>

        <activity
            android:name=".app.activity.WebReviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:parentActivityName=".app.activity.MainActivity"
            android:process=":webview"
            android:theme="@style/AppTheme_NoActionBar"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activity.MainActivity" />
        </activity>

        <activity
            android:name=".app.activity.SWWebReviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:parentActivityName=".app.activity.MainActivity"
            android:process=":swwebview"
            android:theme="@style/AppTheme_NoActionBar"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activity.MainActivity" />
        </activity>

        <activity
            android:name=".app.activity.ProgressDetailsActivity"
            android:label="@string/card_title_progress"
            android:parentActivityName=".app.activity.MainActivity"
            android:theme="@style/AppTheme_NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activity.MainActivity" />
        </activity>

        <activity
            android:name=".app.activity.CriticalItemsActivity"
            android:label="@string/card_title_progress"
            android:parentActivityName=".app.activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activity.MainActivity" />
        </activity>

        <receiver android:name=".content.notification.NotificationPublisher" />

        <receiver android:name=".content.notification.NotificationReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
